<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap')%> <%-include('./partials/header.ejs')%>
  <body>
    <%-include('./partials/nav2.ejs')%>
    <div class="container">
      <h2 class="Alert"><%=alrt%></h2>
      <form action="/buy-search" method="get">
        <input
          id="search"
          name="search"
          type="text"
          placeholder="Filter by seller,state, crop, price, quantity, date"
        />
      </form>
      <br />
      <table>
        <head>
          <tr>
            <th><label for="crop-image">Crop Image</label></th>
            <th>
              <label for="seller-name">Seller Name</label>
            </th>
            <th>
              <label for="crop-name">Crop Name</label>
            </th>
            <th><label for="state">State</label></th>
            <th>
              <label for="crop-description">Crop Description</label>
            </th>
            <th><label for="Base-price">Base Price(per Kg)</label></th>
            <th><label for="quantity">Total Quantity</label></th>
            <th><label for="crop-category">Crop Category</label></th>
            <th><label for="start-date">Start Date</label></th>
            <th><label for="end-date">End Date</label></th>
            <th><label for="bid">Your Bid</label></th>
          </tr>
        </head>
        <%if(crops.length>=1){%> <%crops.forEach(crop=>{ %>
        <form action="/buy-crop/<%=crop._id%>" method="post">
          <tr>
            <div class="rows">
              <th>
                <a href="/buyerbids/<%=crop._id%>">
                <img
                  id="crop-image"
                  src="data:image/<%=crop.crop_image.contentType%>;base64,
                <%=crop.crop_image.data.toString('base64')%>"
                /></a>
              </th>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.sellerName%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.name%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.state%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.description%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.basePrice%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.quantity%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.category%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.startDate%></th></a>
              <th><a href="/buyerbids/<%=crop._id%>"><%=crop.endDate%></th></a>
              <th><input type="text" name="bid" id="bid" /></th></a>
              <th>
                <button>Buy</button>
              </th>
            </div>
          </tr>
        </form>
        <%})}%>
      </table>
    </div>
  </body>
</html>
