<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap')%> <%-include('./partials/header.ejs')%>
  <style>
    th,
    tr,
    td {
      padding: 10px;
      border: solid black 1px;
    }
    button {
      width: 10vw;
    }
  </style>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div>
      <h2 class="Alert"><%=alrt%></h2>
      <table>
        <head>
          <tr>
            <th>
              <label for="seller-name">Seller Name</label>
            </th>
            <th>
              <label for="crop-name">Crop Name</label>
            </th>
            <th>
              <label for="crop-description">Crop Description</label>
            </th>
            <th><label for="Base-price">Base Price(per Kg)</label></th>
            <th><label for="quantity">Total Quantity</label></th>
            <th><label for="crop-category">Crop Category</label></th>
            <th><label for="crop-image">Crop Image</label></th>
            <th><label for="bid">Your Bid</label></th>
          </tr>
        </head>
        <%if(crops.length>=1){%> <%crops.forEach(crop=>{ %>
        <form action="/buy-crop/<%=crop._id%>/<%=title%>" method="post">
          <tr>
            <div class="rows">
              <th><%=crop.sellerName%></th>
              <th><%=crop.name%></th>
              <th><%=crop.description%></th>
              <th><%=crop.basePrice%></th>
              <th><%=crop.quantity%></th>
              <th><%=crop.category%></th>
              <th><%=crop.image%></th>
              <th><input type="text" name="bid" id="bid" /></th>
              <th>
                <button>Buy</button>
              </th>
            </div>
          </tr>
        </form>
        <%})}%>
      </table>
    </div>
  </body>
</html>
