<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap')%> <%-include('./partials/header.ejs')%>
  <body>
    <%-include('./partials/nav2.ejs')%>
    <div class="sell">
      <h2 class="Alert"><%=alrt%></h2>
      <form
        action="/post-crop/<%=title%>"
        method="POST"
        enctype="multipart/form-data"
      >
        <table>
          <head>
            <tr>
              <th>
                <label for="name">Enter Crop Name</label>
              </th>
              <th>
                <label for="description">Enter Crop Description</label>
              </th>
              <th><label for="price">Base Price(per Kg)</label></th>
              <th><label for="quantity">Total Quantity</label></th>
            </tr>
          </head>
          <tr>
            <th>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Crop Name"
              />
            </th>
            <th>
              <input
                type="text"
                id="description"
                name="description"
                placeholder="Crop Description"
              />
            </th>
            <th>
              <input
                type="text"
                id="price"
                name="basePrice"
                placeholder="Base Price"
              />
            </th>
            <th>
              <input
                type="text"
                id="quantity"
                name="quantity"
                placeholder="Quantity"
              />
            </th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th><label for="category">Crop Category</label></th>
            <th><label for="image">Crop Image</label></th>
            <th><label for="start-date">Start Date</label></th>
            <th><label for="end-date">End Date</label></th>
          </tr>
          <tr>
            <th>
              <select id="category" name="category">
                <option value="">Select Category</option>
                <option value="vegetable">Vegetable</option>
                <option value="fruits">Fruits</option>
                <option value="pulses">Pulses</option>
                <option value="oilseeds">Oilseeds</option>
                <option value="grain">Grain</option>
                <option value="others">Others</option>
              </select>
            </th>
            <th>
              <input
                type="file"
                id="crop_image"
                name="crop_image"
                placeholder="Crop Image"
              />
            </th>
            <th>
              <input
                type="date"
                id="startDate"
                name="startDate"
                placeholder="Start Date"
              />
            </th>
            <th>
              <input
                type="date"
                id="endDate"
                name="endDate"
                placeholder="End Date"
              />
            </th>
            <th><input type="submit" /></th>
          </tr>
        </table>
      </form>
    </div>
    <form action="/sell-search/<%=title%>" method="get">
      <input
        id="search"
        name="search"
        type="text"
        placeholder="Filter by seller, crop, price, quantity, date"
      />
    </form>
    <br />
    <div class="listings">
      <table id="table2">
        <head>
          <tr>
            <th><label for="crop-image">Crop Image</label></th>
            <th>
              <label for="seller-name">Seller Name</label>
            </th>
            <th>
              <label for="crop-name">Crop Name</label>
            </th>
            <th>
              <label for="crop-description">Crop Description</label>
            </th>
            <th><label for="Base-price">Base Price(per Kg)</label></th>
            <th><label for="quantity">Total Quantity</label></th>
            <th><label for="crop-category">Crop Category</label></th>
            <th><label for="start-date">Start Date</label></th>
            <th><label for="end-date">End Date</label></th>
          </tr>
        </head>
        <%if(crops.length>=1){%> <%crops.forEach(crop=>{ %>
        <tr>
          <div class="rows">
            <th>
              <img
                id="crop-image"
                src="data:image/<%=crop.crop_image.contentType%>;base64,
              <%=crop.crop_image.data.toString('base64')%>"
              />
            </th>
            <th><%=crop.sellerName%></th>
            <th><%=crop.name%></th>
            <th><%=crop.description%></th>
            <th><%=crop.basePrice%></th>
            <th><%=crop.quantity%></th>
            <th><%=crop.category%></th>

            <th><%=crop.startDate%></th>
            <th><%=crop.endDate%></th>
          </div>
        </tr>
        <%})}%>
      </table>
    </div>
  </body>
</html>
